.title {
    display: block;
    width: stretch;
    font-family: 'Courgette', cursive;
    background-color: pink;
    text-align: center;
    color: white;
    font-size: 60px;
}

body {
    position: relative;
    background-image: url('/assets/south-africa.jpg');
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.row {
    max-height: 400px;
}
.card-title.h5 {
    text-align: center;
}

.blogs {
    width: auto;
}

.about {
    width: auto;
}

.about > img {
    max-height: 400px;
}

.all-blogs {
    clear: left;
}
.card {
    margin: 10px;
}