/* .container {
    width: auto;
    margin: auto;
} */

.submit-group {
    width: 75%;
    margin: 0 auto;
    
}

.form-group {
    width: 100%;
    margin: 10pxauto;
}

.btn-primary {
    background-color: pink;
    border: 0;
}